* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #00002d, #363b5a 50%);
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  width: 150px;
  height: 75px;
  background-image: url(./asset/hm_logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 550;
  margin-left: 40px;
  padding: 5px 15px;
  transition: color 0.5s, background-color 0.5s, margin 0.5s, border-radius 0.5s,
    transform 0.5s;
  border-radius: 10px;
}

.navbar a:hover,
.navbar a:active {
  color: white;
  background-color: #bf8406;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 20px;
  transform: scale(1.2);
}

.home {
  height: 100vh;
  background: url(./asset/programmer\ web.png) no-repeat;
  background-size: cover 40%;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: #ccc6c6;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 600;
  color: #ffa500;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 20px;
  color: #ccc6c6;
  text-align: justify;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  margin-bottom: 110px;
}
.btn-box a {
  position: relative;
  width: 150px;
  height: 100%;
  background: #ffa500;
  border: 2px solid #ffa500;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20 px;
  color: #030200;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow-x: hidden;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #ffa500;
}

.btn-box a:nth-child(2):hover {
  color: #00002d;
}

.btn-box a:nth-child(2)::before {
  background: #ffa500;
}
.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00002d;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover:before {
  width: 100%;
}

.home-sci {
  position: absolute;
  margin-top: 300px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #ffa500;
  border-radius: 50%;
  font-size: 20px;
  color: #ffa500;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.home-sci a:hover {
  color: #00002d;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffa500;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 120px;
  width: 580px;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover {
  background: #363b5a;
  opacity: 0.8;
}

.service-title {
  margin-top: 5% 5% 5%;
  text-align: center;
  color: #fd6f00;
  font-size: 40px;
  font-family: Arial;
  font-weight: 900px;
  letter-spacing: 0.3px;
  word-wrap: break-word;
}

.service-description {
  text-align: center;
  color: #ccc6c6;
  font-size: 20px;
  font-family: Arial;
  font-weight: 100;
  line-height: 32px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
}

.service-container {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: justify;
  color: #fefefe;
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  letter-spacing: 1.2px;
  word-wrap: break-word;
}

.service-card {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 100px;
  margin-inline-start: 60px;
  width: 399.67px;
  height: 322px;
  padding: 30px;
  background: #ffffff0a;
  border-radius: 35px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 34px;
  display: inline-flex;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  background: #00002d;
  opacity: 0.8;
}
.service-card .service-icon {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: flex;
}

.service-card .service-icon .icon-container {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card .service-icon .icon-container .icon {
  font-size: 70px;
  margin-top: 30px;
  font-size: 60px;
  color: #fd6f00;
  width: 150px;
  height: 100%;
}

.fa-solid {
  font-size: 60px;
  color: #fd6f00;
}

.service-card .service-title {
  margin-top: 0px;
  text-align: justify;
  color: #f6f4f2;
  font-size: 24px;
  font-family: Arial;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.72px;
  word-wrap: break-word;
}

.service-card .service-description {
  margin-top: -30px;
  width: 339px;
  text-align: center;
  color: #575757;
  font-size: 13px;
  font-family: verdana;
  font-weight: 500;
  text-align: justify;
  line-height: 20px;
  letter-spacing: -1px;
  word-wrap: break-word;
}

/*About Me */
.about-me-container {
  border-radius: 30px 30px 0 0; 
  max-width: 1100px;
  margin: -20px auto 0; 
  padding: 50px 10px;
  text-align: center;
  background-color: #191b33;
}

.about-me-title {
  font-size: 40px;
  color: #fd6f00;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-me-description {
  margin-bottom: 10px;
  text-align: justify;
  color: #fefefe;
  font-size: 18px;
  font-family: Arial;
  font-weight: 450;
  line-height: 32px;
  letter-spacing: 0.6px;
  margin-right: 23px;
  margin-left: 10px;
}

.about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 101px;
}

.about-me-image {
  margin-top: -50px;
  height: 350px;
  width: 450px;
  max-width: 100%;
}

.about-me-content p {
  flex: 1;
  width: 100%;
}

/*skill */
.skills {
  max-width: 1100px;
  margin: 0 auto; 
  text-align: center;
  background-color: #191b33;
  border-radius: 0 0 30px 30px; 
  padding-bottom: 20px;
  margin-bottom: 60px;

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: -100px;
}

.skill-card {
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  background: #ffffff0a;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  display: inline-block;
}

.skill-card:hover {
  transform: translateY(-10px);
  background: #00002d;
  opacity: 0.8;
}

.skill-name {
  font-size: 24px;
  color: #fd6f00;
  margin-bottom: 10px;
}

.skill-percentage {
  font-size: 20px;
  color: #ccc6c6;
  margin-bottom: 20px;
}

.skill-progress {
  width: 80%;
  height: 10px;
  background: #ffffff50;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.skill-progress-inner {
  height: 100%;
  background: linear-gradient(90deg, #fd6f00, #e46400);
}
.footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px 0;
  text-align: center; 
}

.footer p {
  margin: 0; 
  font-size: 16px;
}

.footer p::before {
  content: "\00A9";
  margin-right: 5px;
}
